*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/java workspace/easyPNR-html-exporter/.idea
/java workspace/generate-html-table/generate-HTML-table.iml
/java workspace/generate-html-table/target/classes
*.DS_Store

java workspace/generate-html-table/.idea/**
java workspace/generate-html-table/.gradle/**
java workspace/generate-html-table/build/**